*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: sans-serif;
    color: #333;
}

#app{ /* Contenedor general de la app */
    padding: 15px;
}

.container{ /* Contiene cada una de las lecciones, con título y contenido */
    height: 30px;
    transition: all, .3s;
    overflow: hidden;
    cursor: pointer;
}

.titulo{ /* Título de la lección */
    transition: all, .3s;
}

.titulo:hover{
    color: royalblue;
}

.titulo-color{
    color: royalblue;
}

.contenido{ /* Contenido de la lección */
    padding-top: 10px;
    padding-bottom: 20px;
}

.contenido p{ 
    line-height: 25px;
}



/* Crea fades al renderizar y destruir los compomnentes */
.fade-enter-active, .fade-leave-active {
    transition: opacity .5s
}

.fade-enter, 
.fade-leave-to{ /* .fade-leave-active in <2.1.8 */ 
    opacity: 0
}